[project]
name = "csci-108-final-project"
version = "0.1.0"
description = "Montreal urban accessibility clustering"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
    "notebook>=7.5.1",
]
